/* HTML Теги */
body {
    background-image: url("../img/Background.png");
    background-size: 100%;
    color:white;
    font-family: "Bellota", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
}

footer {
    font-size: 0.7em;
}

hr {
    border-width: .4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-style: dashed;
    color: white;
}

/* Классы */
.btn-main {
    background-color:#151515;
    color: white;
    border-radius: 0;
    padding: 3vh 0vh;
    
}

.navmenu {
    background-color: rgba(255, 166, 0, 0.2);
    border-bottom:1vh orange dashed;
    border-top:1vh orange dashed;
}

.content { 
    background: linear-gradient(120deg, #393939, 80%, #242424);
}

.title {
    font-size: 200%;
}

.noscript {
    float:right;
    color:red;
}

.logo {
    width: 10vh;
}

/* Анимация кнопки при наведении мышкой */
.btn-main:hover {
    animation: ButtonHover 0.4s 1 forwards;
}

@keyframes ButtonHover {
    from {
        background-color:#151515;
        color: white;
    }
    to {
        color: orange;
        background-color:#282828;
    }
}

/* Айди */

/* p.s этот элемент используется !!ТОЛЬКО!! в "form.html" 
но мне лень делать отдельный css для формы,
поскольку она не требует никаких дальнейших доработок, 
так что в форме я просто использую main.css. 
!!ЭТОТ ЭЛЕМЕНТ ИЗ "form.html"!! */
#resultWrapper {
    display: none;
}
