@import "main.css";
/* Айди */
.card {
    color:white;
    background-color:#28282871;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.email {
    padding-top: 3rem;
    margin-top: auto;
}

.card:hover {
    animation: ButtonHover 0.4s 1 forwards;
}