@import "main.css";

/* Классы */
.card {
    color:white;
    background-color:#28282871;
    padding: 2%;
}

.card-body {
    text-align: center;
    /* padding-bottom: 10vh; */
}

.card:hover {
    animation: ButtonHover 0.4s 1 forwards;
}